* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 250;
}
body {
    background-color: #141313;
    margin-top: 75px;
    font-family: Roboto, Arial, sans-serif;
    color: white;
}

/* all classes */

.border {
    border-bottom: 0.5px solid #303030;
}
.grey-text {
    color: #AAAAAA;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-pic {
    border-radius: 50%;
}